@import '../../themes';

@include nb-install-component() {
  background: nb-theme(card-bg); // now, for each theme registered the corresponding value will be inserted

  .container {
    background: nb-theme(color-bg);
    color: nb-theme(color-fg);
    font-weight: nb-theme(font-weight-bold);
  }
}
